.question-container {
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;

}

.quesxtion-title {
    display: flex;
    justify-content: space-around;
}

.question-container h3 {
    text-align: center;
}

.icon {
    width: 25px;
    cursor: pointer;

}

.option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

@media screen and (max-width:700px) {
    .option-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .quesxtion-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}